.tablaequipos{
    min-height: 20vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    align-content: center;
}
.cuadro{
  background-color: #ddd;
  flex-direction:initial;
}
.columnastablas{
  border-collapse: collapse;
  border: 1px solid black;
  background-color: green;
}
.titulo{
  size: 1000px;
  display: flex;
  align-items: center;
  min-height: 40vh;
  justify-content: center;
  font-size: 100px;
  color: #ddd;
  font-weight: bold ;
}
.botones{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 10px;
}
.botones button {
  margin-bottom: 10px;
  background-color: #ddd;
}
.equipo{
  justify-content: center;
  border-color: #555;
  border-style: groove;
  width: 60%;
  height: 60%;
  font-size: 16px;
  border-collapse: collapse;
  border: 1px solid black;
}
ng-container{
  border-style: groove;
  border-color: black;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-color: black;
  }
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    color: #555;
  }
.mat-table {
    border-collapse: collapse;
    border: 10px solid black;
    background-color: green;
  }
  
.mat-header-cell,
.mat-cell {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
  