$primary-color: hsla(0, 0%, 0%, 0.103);
$secondary-color: hsla(0, 1%, 33%, 0.158);
$accent-color: hsla(128, 83%, 37%, 0.336);
$font-color: hsl(0, 0%, 100%);

h1 {
  size: 1000px;
  display: flex;
  align-items: center;
  height: 200px;
  justify-content: center;
  font-size: 100px;
  color: #ddd;
  font-weight: bold;
}

.base {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  overflow-y: auto;
}

.base .tablaequipos {
  display: flex;
  flex-direction: column;
  padding: 60px;
  background-color: rgba(39, 37, 59, 0.7);
  backdrop-filter: blur(5px);
  color: #fff;
  font-family: Arial, sans-serif;
  max-height: 450px;
  

  .equipo {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #b7c2ea;
    border-radius: 20px;
    width: 1000px;
    height: auto;
    text-align: center;
    transition: all 0.3s ease;
    overflow-y: auto;
  max-height: 500px;
  position: relative;

    .tabla {
      width: 100%;
      margin: 2rem 0;
      border-radius: 10px;
      border-collapse: collapse;
      background-color: #ffffff7a;
      border: 23px solid #616161;
      color: #fff;
    }

  }

  .blueButtonMargin {
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(46, 86, 206);
    color: #fff;
    color: $font-color;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: darken(rgb(46, 86, 206), 10%);
    }
  }

}
.botones{
  display: flex;
  align-items: center;
  justify-content: center;
}