<div class="container" layout-fill>
  <div class="card">
    <h1>Login ⚽  🏟️  🥅</h1>
    <form class="formulario">
      <mat-form-field class="full-width">
        <mat-label>Nombre de usuario</mat-label>
        <input [(ngModel)]="usuario" type="text" matInput name="nombreusuario">
        
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Contraseña*</mat-label>
        <input [(ngModel)]="contrasenia" type="password" matInput name="contrasenia">
      </mat-form-field>
    </form>
    <p class="small-text">¿No tienes cuenta? <a href="register">Registrate</a></p>
    <p class="small-text">¿Olvidaste la contraseña? <a href="recuperarContrasenia">Recuperar contraseña</a></p>
    <button class="boton" mat-raised-button color="primary" (click)="login()">Iniciar sesión</button>
  </div>
</div>
