<div class="container" layout-fill>
  <div class="card">   
    <h1 >Registro   ⚽⚽⚽</h1>
    <form class="formulario">
      <mat-form-field class="full-width">
        <mat-label>Correo electronico</mat-label>
        <input [(ngModel)]="email" type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
               placeholder="Ex. juan@gmail.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Por favor ingrese un correo válido.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Contraseña*</mat-label>
        <input [(ngModel)]="contrasenia" matInput type="password" name="pass">
      </mat-form-field>
     <mat-form-field class="full-width">
      <mat-label>Confirmar contraseña*</mat-label>
      <input [(ngModel)]="confirmarContrasenia" matInput type="password" name="confirmationPass">
     </mat-form-field>
    </form>
    <p class="small-text">¿Ya tienes cuenta? <a href="login">Logueate</a></p>

  <button class="boton" mat-raised-button color="primary" (click)="register()">Registrate</button>
  </div>
</div>

