<div class="SuperColor">
<h2>Crear un nuevo equipo</h2>
<div class="Lateral">
<div class="MinorColor">
  <label for="team-name">Nombre</label>
  <input id="team-name" type="text" placeholder="ex : PatosFC" min="0" value="">
  <label for="team-name-prefix">Siglas</label>
  <input id="team-name-prefix" type="text" placeholder="ex : PFC" min="0" value="">
</div>
<div>
  <img src="https://via.placeholder.com/512x512.png?text=Placeholder+512x512" alt="Los patosFC">
</div>
</div>
<button mat-button (click)="onClose()">Crear Equipo</button>
</div>
