<div class="SuperColor">
  <h2>Crear un nuevo equipo</h2>

  <div class="base">
    <div class="Lateral">
      <div class="MinorColor">
        <label for="team-name">Nombre</label>
        <input id="nombreEquipo" type="text" placeholder="ex : PatosFC" min="0" value="">
        <label for="team-name-prefix">Siglas</label>
        <input id="siglas" type="text" placeholder="ex : PFC" min="0" value="">
        <button mat-button (click)="crearEquipo()" class="greenButtonMargin">Crear Equipo</button>
      </div>
    </div>
  </div>
</div>