$primary-color: #212121;
$secondary-color: #616161;
$accent-color: #558b2f;
$font-color: #ffffff;

.SuperColor {
  background-color: $primary-color;
  color: $font-color;
  padding: 40px;

  h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .Lateral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    .MinorColor {
      padding: 30px;
      margin-bottom: 30px;

      label {
        display: block;
        margin-bottom: 20px;
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        color: $primary-color;
        background-color: $font-color;
        font-weight: bold;
        font-size: 24px;
      }
    }

    img {
      width: 100%;
      margin-bottom: 30px;
    }

  }


  button {
    background-color: $accent-color;
    color: $font-color;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }
}
