
$primary-color: hsla(0, 0%, 0%, 0.103);
$secondary-color:hsla(0, 1%, 33%, 0.158);
$accent-color: hsla(128, 83%, 37%, 0.336);
$font-color: hsl(0, 0%, 100%);
.redButtonMargin{
      margin-right: 20px;
      margin-left: 20px;
    background-color: rgb(207, 0, 0);
    color: #fff;
    color: $font-color;
      border: none;
      border-radius: 5px;
      padding: 20px;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: darken($accent-color, 10%);
      }
  }
.greenButtonMargin{
      margin-right: 20px;
      margin-left: 20px;
    background-color: rgb(82, 137, 0);
    color: #fff;
    color: $font-color;
      border: none;
      border-radius: 5px;
      padding: 20px;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: darken($accent-color, 10%);
      }
  }


.sidebar {
  position: fixed;
  margin: 0;
  height: 100%;
  display: flex;
  width: 240px;
  background-color: rgba(248, 246, 246, 0.7);
  backdrop-filter: blur(5px);
  nav ul {
    margin-top: 100px;
    list-style-type: none;
    padding: 0;

    li {
      font-size: 20px;
      font-family: sans-serif;
      background-color: white;
      border: 2px solid black;
      height: 1.5em;
      line-height: 1.5em;
      position: relative;
      overflow: hidden;
      margin: 0.5em;
      cursor: pointer;
      span {
        color: white;
        mix-blend-mode: difference;
      }
    }

    li::before {
      content: "";
      position: absolute;
      width: 1.5em;
      height: inherit;
      background-color: rgb(0, 0, 0);
      border-radius: 50%;
      top: 0;
      left: -0.75em;
      transition: 0.5s ease-out;
    }

    li:hover::before {
      transform: scale(14);
    }
  }
}

.cuerpo {
  margin: 30px  30px 30px 270px;
  height: 100vh;
  overflow: auto;
}
.cuerpo::-webkit-scrollbar {
  display: none;
}

.SuperColor {
    background-color: $primary-color;
    color: $font-color;
    padding: 40px;

    h2 {
      font-size: 36px;
      margin-bottom: 30px;
      text-align: left;
    }
    .base{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #1e1e1e;
      padding: 30px;
      border-radius: 10px;
    }
    .base .Lateral {
      display: flex;
      flex-direction: row;

      .MinorColor {
        padding: 30px;
        margin-bottom: 30px;

        label {
          display: block;
          margin-bottom: 20px;
          font-weight: bold;
        }

        input {
          width: 100%;
          padding: 15px;
          border: none;
          border-radius: 5px;
          margin-bottom: 20px;
          color: $primary-color;
          background-color: $font-color;
          font-weight: bold;
          font-size: 24px;
        }
        .lado{
          display: flex;
          flex-direction: row;
          .redButtonMargin{
            margin-right: 20px;
            margin-left: 20px;
          background-color: rgb(207, 0, 0);
          color: #fff;
          color: $font-color;
            border: none;
            border-radius: 5px;
            padding: 20px;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
              background-color: darken($accent-color, 10%);
            }
        }
        .greenButtonMargin{
          margin-right: 20px;
          margin-left: 20px;
        background-color: rgb(82, 137, 0);
        color: #fff;
        color: $font-color;
          border: none;
          border-radius: 5px;
          padding: 20px;
          font-size: 24px;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            background-color: darken($accent-color, 10%);
          }
      }
        }
      }
      img {
        width: 100%;
        margin-bottom: 30px;
      }

    }
    .base .tablaequipos {
      display: flex;
      flex-direction: column;
      padding: 30px;
      margin-bottom: 30px;
      color: #fff;
      font-family: Arial, sans-serif;

      .equipo {
        display: flex;
        height: 60%;
        font-size: 1.5rem;
        padding: 1rem;
        text-align: center;
        transition: all 0.3s ease;

      .tabla {
        width: 100%;
        margin: 2rem 0;
        border-collapse: collapse;
        border: 2px solid #fff;
        .th,
       .td {
        padding: 1rem;
        border: 2px solid #fff;
      }

      .th {
        background-color: #555;
        color: #fff;
        font-size: 1.5rem;
      }

      .td {
        font-size: 1.2rem;
      }
      }

      }

      .greenButtonMargin{
        margin-right: 20px;
        margin-left: 20px;
      background-color: rgb(82, 137, 0);
      color: #fff;
      color: $font-color;
        border: none;
        border-radius: 5px;
        padding: 20px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: darken($accent-color, 10%);
        }
                        }
      .redButtonMargin{
      margin-right: 20px;
      margin-left: 20px;
    background-color: rgb(207, 0, 0);
    color: #fff;
    color: $font-color;
      border: none;
      border-radius: 5px;
      padding: 20px;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: darken($accent-color, 10%);
      }
                      }
    }

  }
