<div class="sidebar">
  <nav>
    <ul>
      <li href="#admin"><span>Administracion equipo</span></li>
      <li href="#invit"><span>Lista de invitaciones</span></li>
      <li href="#reserv"><span>Reservas canchas</span></li>
    </ul>
  </nav>
</div>
<div class="cuerpo">

<div class="SuperColor">
<div class="base">
<div id="admin" style="width: 100%;">
    <h2>Administrar equipo</h2>
    <div class="Lateral">
    <div class="MinorColor">
      <label for="team-name">Nombre</label>
      <input id="team-name" type="text" placeholder="PatosFC" min="0" value="">
      <label for="team-name-prefix">Siglas</label>
      <input id="team-name-prefix" type="text" placeholder="PFC" min="0" value="">
      <div class="lado">
      <button mat-button class="greenButtonMargin">Guardar</button>

        <button mat-button class="redButtonMargin">Eliminar</button>
      </div>
    </div>
    <div>
      <img src="https://via.placeholder.com/512x512.png?text=Placeholder+512x512" alt="Los patosFC">
    </div>
    </div>

    </div>
<div id="invit" style="width: 100%;">

  <h2>Solicitudes pendientes</h2>
<div class="tablaequipos" layout-fill>
    <div class="equipo">
      <mat-table [dataSource]="dataSource" class="tabla" matSort>
      <!-- Columna de nombre -->
      <ng-container matColumnDef="Nombre" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Nombre}} </mat-cell>
      </ng-container>
      <!-- Columna de edad -->
      <ng-container matColumnDef="Edad">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Edad </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Edad}} </mat-cell>
      </ng-container>
      <!-- Columna de selección -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <!-- Agrega las columnas a la tabla -->
    <div class="columnastabla">
      <mat-header-row *matHeaderRowDef="displayedColumns" style="color:ghostwhite;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)" style="color:ghostwhite;">
      </mat-row>

    </div>
    </mat-table>
    </div>

<mat-card-actions>
  <button mat-button (click)="onAceptar()" class="greenButtonMargin">Aceptar</button>
  <button mat-button (click)="onRechazar()" class="redButtonMargin">Rechazar</button>
</mat-card-actions>
</div>
<h2>Invitar Jugadores</h2>
<div class="tablaequipos" layout-fill>
    <div class="equipo">
      <mat-table [dataSource]="dataSource" class="tabla" matSort>
      <!-- Columna de nombre -->
      <ng-container matColumnDef="Nombre" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Nombre}} </mat-cell>
      </ng-container>
      <!-- Columna de edad -->
      <ng-container matColumnDef="Edad">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Edad </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Edad}} </mat-cell>
      </ng-container>
      <!-- Columna de selección -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <!-- Agrega las columnas a la tabla -->
    <div class="columnastabla">
      <mat-header-row *matHeaderRowDef="displayedColumns" style="color:ghostwhite;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)" style="color:ghostwhite;">
      </mat-row>

    </div>
    </mat-table>
    </div>

<mat-card-actions>
  <button mat-button (click)="onInvitar()" class="greenButtonMargin">Invitar</button>
  <button mat-button (click)="onCancelar()" class="redButtonMargin">Cancelar</button>
</mat-card-actions>
</div>

</div>
<div id="reserv" style="width: 100%;">
  <h2>Reservar Cancha</h2>
  <div class="calendario">
    <p-calendar [(ngModel)]="date7" [showTime]="true" inputId="time"></p-calendar>
    <mat-card-actions>
      <button mat-button (click)="onAceptar()" class="greenButtonMargin">Verificar</button>
      <button mat-button (click)="onAceptar()" class="greenButtonMargin">Reservar</button>
    </mat-card-actions>
  </div>
</div>
</div>
</div>
