<div class="sidebar">
  <nav>
    <ul>
      <li href="#admin"><span>Administracion equipo</span></li>
      <li href="#invit"><span>Lista de invitaciones</span></li>
      <li href="#reserv"><span>Reservas canchas</span></li>
    </ul>
  </nav>
</div>
<div class="cuerpo">
<div id="admin">
  <div class="SuperColor">
    <h2>Crear un nuevo equipo</h2>
    <div class="Lateral">
    <div class="MinorColor">
      <label for="team-name">Nombre</label>
      <input id="team-name" type="text" placeholder="ex : PatosFC" min="0" value="">
      <label for="team-name-prefix">Siglas</label>
      <input id="team-name-prefix" type="text" placeholder="ex : PFC" min="0" value="">
      <div class="lado">
      <button mat-button>Guardar</button> <button mat-button class="red">Eliminar</button>
    </div>
    </div>
    <div>
      <img src="https://via.placeholder.com/512x512.png?text=Placeholder+512x512" alt="Los patosFC">
    </div>
    </div>

    </div>
</div>
<div id="invit">

<div class="tablaequipos" layout-fill>
  <mat-card-actions>
    <div class="botones">
      <button mat-button (click)="onAceptar()">Aceptar</button>
      <button mat-button (click)="onRechazar()">Rechazar</button>
    </div>
  </mat-card-actions>
    <div class="equipo">
      <mat-table [dataSource]="dataSource" matSort>

      <!-- Columna de selección -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
    <div class="columnaequipo">
      <!-- Columna de nombre -->
      <ng-container matColumnDef="Equipo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Equipo </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Equipo}} </mat-cell>
      </ng-container>
    </div>

      <!-- Columna de edad -->
      <ng-container matColumnDef="Miembros">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Miembros </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Miembros}} </mat-cell>
      </ng-container>

      <!-- Agrega las columnas a la tabla -->
    <div class="columnastabla">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
      </mat-row>
    </div>
    </mat-table>
  </div>
</div>
</div>
<div id="reserv">
  <header>
    <h1>Gestionando Equipos de Fútbol</h1>
    <p>Bienvenidos al mundo del fútbol, donde la pasión y el rendimiento se encuentran para formar un deporte inigualable. Si eres un fanático de este deporte, seguro que te encantará saber cómo gestionar equipos de fútbol de manera efectiva.</p>
    <p>¿Qué es la Gestión de Equipos de Fútbol?</p>
    <p>La gestión de equipos de fútbol es una labor fundamental dentro del ámbito deportivo. Se trata de un conjunto de estrategias y acciones orientadas a mantener un equipo de fútbol unido, motivado y en constante evolución. La gestión de equipos de fútbol implica aspectos como la planificación deportiva, la selección y contratación de jugadores, la organización interna del equipo, el entrenamiento y la dirección técnica.</p>
    <h2>Planificación Deportiva</h2>
    <p>La gestión efectiva de equipos de fútbol comienza con la planificación deportiva. Es necesario definir objetivos claros y precisos que guíen el trabajo del equipo. Para ello, es fundamental tener en cuenta factores como las características del equipo, su presupuesto, el calendario deportivo y la competencia.</p>
    <p>Una vez definidos los objetivos, se deben establecer planes de acción para alcanzarlos. En este sentido, es importante incorporar herramientas tecnológicas que permitan analizar el desempeño del equipo, mejorar la toma de decisiones y optimizar los recursos disponibles.</p>
    <h2>Selección y Contratación de Jugadores</h2>
    <p>La selección y contratación de jugadores es otro de los aspectos clave en la gestión de equipos de fútbol. Es importante contar con un equipo de jugadores que se complementen entre sí, que compartan valores y objetivos comunes y que tengan un buen rendimiento deportivo.</p>
    <p>Para seleccionar y contratar a los jugadores adecuados, es fundamental realizar un análisis exhaustivo de las características físicas, técnicas y psicológicas de cada jugador. Además, se deben tener en cuenta aspectos como el presupuesto del equipo, la normativa deportiva y el enfoque estratégico del equipo.</p>
    <h2>Organización Interna del Equipo</h2>
    <p>La gestión de equipos de fútbol también implica la organización interna del equipo. Es necesario establecer una estructura jerárquica clara, con roles y responsabilidades definidas, para garantizar una comunicación efectiva y eficiente entre todos los miembros del equipo.</p>
    <p>Además, es importante promover un ambiente de trabajo positivo, donde se fomente el compañerismo, el respeto y la colaboración. Esto puede lograrse mediante la implementación de actividades extradeportivas, reuniones periódicas y sesiones de entrenamiento grupales.</p>
    <h2>Entrenamiento y Dirección Técnica</h2>
    <p>El entrenamiento y la dirección técnica son fundamentales para el rendimiento del equipo. Es necesario contar con un director técnico capacitado, que sea capaz de desarrollar un plan de entrenamiento efectivo, orientado a mejorar las habilidades de los jugadores y alcanzar los objetivos previamente establecidos.</p>
  </header>
</div>
</div>
