.sidebar {
  position: fixed;
  margin: 0;
  height: 100%;
  display: flex;
  width: 240px;
  background-color: rgba(248, 246, 246, 0.7);
  backdrop-filter: blur(5px);
  nav ul {
    margin-top: 100px;
    list-style-type: none;
    padding: 0;

    li {
      font-size: 20px;
      font-family: sans-serif;
      background-color: white;
      border: 2px solid black;
      height: 1.5em;
      line-height: 1.5em;
      position: relative;
      overflow: hidden;
      margin: 0.5em;
      cursor: pointer;
      span {
        color: white;
        mix-blend-mode: difference;
      }
    }

    li::before {
      content: "";
      position: absolute;
      width: 1.5em;
      height: inherit;
      background-color: rgb(0, 0, 0);
      border-radius: 50%;
      top: 0;
      left: -0.75em;
      transition: 0.5s ease-out;
    }

    li:hover::before {
      transform: scale(14);
    }
  }
}

.cuerpo {
  margin: 30px  30px 30px 270px;
  height: 100vh;
  overflow: auto;


}
  /* Oculta todas las barras de desplazamiento en WebKit */
  .cuerpo::-webkit-scrollbar {
    display: none;
  }
